{% extends 'control/base_of_student.html' %}

{% block title %}ADD STUDENT PAGE{% endblock title %}

{% block body %}
<div class="container mt-5">
  <form class="col-6 mx-auto card p-3 shadow-lg" method="post">
    {% csrf_token %}
    <h2 style="text-align: center;">Add Student</h2>
    <hr>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </ul>
            {% endif %}

    <div class="mb-3">
      <label for="sname" class="form-label">Student Name</label>
      <input type="text" class="form-control" id="sname" name="student_name">
    </div>

    <div class="mb-3">
      <label for="col" class="form-label">Collage</label>
      <input type="text" class="form-control" id="col" name="Collage">
    </div>

    <div class="mb-3">
      <label for="year" class="form-label">Year</label>
      <input type="number" class="form-control" id="year" name="year">
    </div>

    <div class="mb-3">
      <label for="stre" class="form-label">Stream</label>
      <input type="text" class="form-control" id="stre" name="stream">
    </div>
    <button type="submit" class="btn btn-success">Add Student</button>
  </form>
</div>

{% endblock body %}